<div class="card-body">
    <h4 class="card-title"><span class="lstick"></span>Suivi des guichets</h4>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="card bg-orange">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="assets/images/icon/kiosk.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Nombre total de guichet</h6>
                        <h2 class="m-t-0 text-white">{{kioskTotal}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="card bg-cyan">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="assets/images/icon/connected.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Connecté</h6>
                        <h2 class="m-t-0 text-white">{{onlineKiosk}}</h2></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card bg-secondary">
          <div class="card-body">
              <div class="d-flex no-block">
                  <div class="m-r-20 align-self-center"><img src="assets/images/icon/disconnected.png" alt="Income" /></div>
                  <div class="align-self-center">
                      <h6 class="text-white m-t-10 m-b-0">Déconnecté</h6>
                      <h2 class="m-t-0 text-white">{{offlineKiosk}}</h2></div>
              </div>
          </div>
      </div>
  </div>


  </div>
<div class="row">
    <!-- chart component -->
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="lstick"></span>Liste des guichets</h4>
                <div class="table-responsive">
                    <table class="table vm no-th-brd pro-of-month mb-0 no-wrap">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Libellé</th>
                                <th>Addresse</th>
                                <th>statut</th>
                                <th>Dernière activité</th>
                                <th>Dernière transaction</th>
                                <th>Détails</th>
                                <th>Modification</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let kiosk of kioskList" >
                                <td>{{kiosk.id}}</td>
                                <td>{{kiosk.name}}</td>
                                <td>{{kiosk.address}}</td>
                                <td *ngIf="kiosk.pointsMonitorings[0].online == true"><span class="label label-success label-rounded">Ligne</span></td>
                                <td *ngIf="kiosk.pointsMonitorings[0].online == false"><span class="label label-danger label-rounded">Hors ligne</span></td>

                                <td>{{kiosk.pointsMonitorings[0].lastActive}}</td>
                                <td>{{kiosk.pointsMonitorings[0].paymentDate}}</td>
                                <td>
                                    <button
                                        class="btn btn-sm btn-info"
                                        (click)="setCurrentKiosk(kiosk)"
                                        (click)="open(kioskContent)">AFFICHER
                                    </button>
                                </td>
                                <td>
                                    <button
                                        class="btn btn-sm btn-warning"
                                        (click)="getKiosksDetails(kiosk.extId)"
                                        (click)="open(content)">MODIFIER
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modification du billetage</h4>
    <button
      class="btn btn-outline-default"
      (click)="modal.dismiss('Cross click')"
    >
    <i class="fas fa-times"></i>
  </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="dateOfBirth">Note 10000</label>
        <div class="input-group">
          <input id="note_10000" name="note_10000" class="form-control" [(ngModel)]="billing.Note_10000"/>
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Note 5000</label>
        <div class="input-group">
          <input id="note_10000" name="note_10000" class="form-control" [(ngModel)]="billing.Note_5000"/>
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Note 2000</label>
        <div class="input-group">
          <input id="note_10000" name="note_10000" class="form-control" [(ngModel)]="billing.Note_2000"/>
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Note 1000</label>
        <div class="input-group">
          <input id="note_10000" name="note_10000" class="form-control" [(ngModel)]="billing.Note_1000"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-warning"
            (click)="updateKioskBilling()">Modifier
    </button>
  </div>
</ng-template>

<ng-template #kioskContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{currentKiosk.Name}}
    </h4>

    <span class="label label-success label-rounded" *ngIf="currentKiosk.PointsMonitorings[0].Online == true">En Ligne</span>
        <span class="label label-danger label-rounded" *ngIf="currentKiosk.PointsMonitorings[0].Online == false">Hors Ligne</span>

    <button
      class="btn btn-outline-default"
      (click)="modal.dismiss('Cross click')"
    >
    <i class="fas fa-times"></i>
  </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <div class="input-group">
            <span class="font-weight-bold">Adresse&nbsp;&nbsp;</span>
            <span class="font-weight-normal">{{currentKiosk.Adress}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <div class="input-group">
            <span class="font-weight-bold">Date&nbsp;&nbsp;</span>
            <span class="font-weight-normal">{{currentKiosk.InputDate}}</span>
          </div>
        </div>
      </div>
      <hr>
      <h4 class="text-muted">Cassettes</h4>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <div class="input-group">
            <span class="font-weight-bold">Montant total Entré&nbsp;&nbsp;</span>
            <span class="font-weight-normal">{{currentKiosk.PointsCassettes[0].TotalCashInput}}</span>
          </div>
        </div>
        <div class="form-group col-sm mb-3">
          <div class="input-group">
            <span class="font-weight-bold">Montant total sorti&nbsp;&nbsp;</span>
            <span class="font-weight-normal">{{currentKiosk.PointsCassettes[0].TotalCashOutput}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <div class="input-group">
            <span class="font-weight-bold">Capacité de sortie de la cassette&nbsp;&nbsp;</span>
            <span class="font-weight-normal">{{currentKiosk.PointsCassettes[0].OutputCassetteCapacity}}</span>
          </div>
        </div>
        <div class="form-group col-sm mb-3">
          <div class="input-group">
            <span class="font-weight-bold">Nombre de cassette de sortie&nbsp;&nbsp;</span>
            <span class="font-weight-normal">{{currentKiosk.PointsCassettes[0].OutputCassetteCount}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <div class="input-group">
            <span class="font-weight-bold">Capacité d'entrée de la cassette&nbsp;&nbsp;</span>
            <span class="font-weight-normal">{{currentKiosk.PointsCassettes[0].InputCassetteCapacity}}</span>
          </div>
        </div>
        <div class="font-weight-bold" class="form-group col-sm mb-3">
          <div class="input-group">
            <span class="font-weight-bold">Nombre de cassettes d'entrée&nbsp;&nbsp;</span>
            <span class="font-weight-normal">{{currentKiosk.PointsCassettes[0].InputCassetteCount}}</span>
          </div>
        </div>
      </div>
      <hr>
      <h4 class="text-muted">Supervision</h4>

      <div class="row">
        <div class="form-group col-sm mb-3">
          <div class="input-group">
            <span class="font-weight-bold">Date de dernière activité&nbsp;&nbsp;</span>
            <span class="font-weight-normal">{{currentKiosk.PointsMonitorings[0].LastActive}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <div class="input-group">
            <span class="font-weight-bold">Date de dernière transaction&nbsp;&nbsp;</span>
            <span class="font-weight-normal">{{currentKiosk.PointsMonitorings[0].PaymentDate}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <div class="input-group">
            <span class="font-weight-bold">Version logic&nbsp;&nbsp;</span>
            <span class="font-weight-normal">{{currentKiosk.PointsMonitorings[0].VersionLogic}}</span>
          </div>
        </div>
        <div class="form-group col-sm mb-3">
          <div class="input-group">
            <span class="font-weight-bold">Version service&nbsp;&nbsp;</span>
            <span class="font-weight-normal">{{currentKiosk.PointsMonitorings[0].VersionService}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <div class="input-group">
            <span class="font-weight-bold">Statut du code de caisse&nbsp;&nbsp;</span>
            <span class="font-weight-normal">{{currentKiosk.PointsMonitorings[0].CashcodeStatus}}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm mb-3">
          <div class="input-group">
            <span class="font-weight-bold">Etiquette&nbsp;&nbsp;</span>
            <span class="font-weight-normal">{{currentKiosk.PointsMonitorings[0].Metka}}</span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')" >Fermer</button>
  </div>
</ng-template>
