<div class="card-body">
    <h4 class="card-title"><span class="lstick"></span>Suivi des guichets</h4>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="card bg-orange">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="assets/images/icon/kiosk.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Nombre total de guichet</h6>
                        <h2 class="m-t-0 text-white">{{kioskTotal}}</h2></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="card bg-cyan">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="assets/images/icon/connected.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Connecté</h6>
                        <h2 class="m-t-0 text-white">{{onlineKiosk}}</h2></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card bg-secondary">
          <div class="card-body">
              <div class="d-flex no-block">
                  <div class="m-r-20 align-self-center"><img src="assets/images/icon/disconnected.png" alt="Income" /></div>
                  <div class="align-self-center">
                      <h6 class="text-white m-t-10 m-b-0">Déconnecté</h6>
                      <h2 class="m-t-0 text-white">{{offlineKiosk}}</h2></div>
              </div>
          </div>
      </div>
  </div>


  </div>
<div class="row">
    <!-- chart component -->
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="lstick"></span>Liste des guichets</h4>
                <div class="table-responsive">
                    <table class="table vm no-th-brd pro-of-month mb-0 no-wrap">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Libellé</th>
                                <th>Addresse</th>
                                <th>statut</th>
                                <th>Dernière activité</th>
                                <th>Dernière transaction</th>
                                <th>Détails</th>
                                <th>Modification</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let kiosk of kioskList" >
                                <td>{{kiosk.id}}</td>
                                <td>{{kiosk.name}}</td>
                                <td>{{kiosk.address}}</td>
                                <td *ngIf="kiosk.pointsMonitorings[0].online == true"><span class="label label-success label-rounded">Ligne</span></td>
                                <td *ngIf="kiosk.pointsMonitorings[0].online == false"><span class="label label-danger label-rounded">Hors ligne</span></td>

                                <td>{{kiosk.pointsMonitorings[0].lastActive}}</td>
                                <td>{{kiosk.pointsMonitorings[0].paymentDate}}</td>
                                <td>
                                    <button
                                        class="btn btn-info"
                                        (click)="setCurrentKiosk(kiosk)"
                                        (click)="open(kioskContent)">AFFICHER
                                    </button>
                                </td>
                                <td>
                                    <button
                                        class="btn btn-warning"
                                        (click)="getKiosksDetails(kiosk.extId)"
                                        (click)="open(content)">MODIFIER
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modification du billetage</h4>
    <button
      class="btn btn-outline-default"
      (click)="modal.dismiss('Cross click')"
    >
    <i class="fas fa-times"></i>
  </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="dateOfBirth">Note 10000</label>
        <div class="input-group">
          <input id="note_10000" name="note_10000" class="form-control" [(ngModel)]="billing.Note_10000"/>
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Note 5000</label>
        <div class="input-group">
          <input id="note_10000" name="note_10000" class="form-control" [(ngModel)]="billing.Note_5000"/>
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Note 2000</label>
        <div class="input-group">
          <input id="note_10000" name="note_10000" class="form-control" [(ngModel)]="billing.Note_2000"/>
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Note 1000</label>
        <div class="input-group">
          <input id="note_10000" name="note_10000" class="form-control" [(ngModel)]="billing.Note_1000"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-warning"
            (click)="updateKioskBilling()"
            (click)="modal.close('Save click')">Modifier
    </button>
  </div>
</ng-template>

<ng-template #kioskContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{currentKiosk.Name}}
    </h4>

    <button
      class="btn btn-outline-default"
      (click)="modal.dismiss('Cross click')"
    >
    <i class="fas fa-times"></i>
  </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="ConfigId">Adresse</label>
          <div class="input-group">
            <input id="Adress" name="Adress" class="form-control" [(ngModel)]="currentKiosk.Adress" [disabled]="true"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="inputDate">Date</label>
          <div class="input-group">
            <input id="inputDate" name="inputDate" class="form-control" [(ngModel)]="currentKiosk.InputDate" [disabled]="true"/>
          </div>
        </div>
      </div>
      <hr>
      <h3 class="font-weight-bold">Cassettes</h3>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="ConfigId">Total Cash Input</label>
          <div class="input-group">
            <input id="TotalCashInput" name="TotalCashInput" class="form-control"
                  [(ngModel)]="currentKiosk.PointsCassettes[0].TotalCashInput" [disabled]="true"/>
          </div>
        </div>
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="ConfigId">Total Cash Output</label>
          <div class="input-group">
            <input id="TotalCashOutput" name="TotalCashOutput" class="form-control"
                  [(ngModel)]="currentKiosk.PointsCassettes[0].TotalCashOutput" [disabled]="true"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="ConfigId">Output Cassette Capacity</label>
          <div class="input-group">
            <input id="OutputCassetteCapacity" name="OutputCassetteCapacity" class="form-control"
                   [(ngModel)]="currentKiosk.PointsCassettes[0].OutputCassetteCapacity" [disabled]="true"/>
          </div>
        </div>
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="ConfigId">Output Cassette Count</label>
          <div class="input-group">
            <input id="OutputCassetteCount" name="OutputCassetteCount" class="form-control"
                   [(ngModel)]="currentKiosk.PointsCassettes[0].OutputCassetteCount" [disabled]="true"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="ConfigId">Input Cassette Capacity</label>
          <div class="input-group">
            <input id="InputCassetteCapacity" name="InputCassetteCapacity" class="form-control"
                   [(ngModel)]="currentKiosk.PointsCassettes[0].InputCassetteCapacity" [disabled]="true"/>
          </div>
        </div>
        <div class="font-weight-bold" class="form-group col-sm mb-3">
          <label for="ConfigId">Input Cassette Count</label>
          <div class="input-group">
            <input id="InputCassetteCount" name="InputCassetteCount" class="form-control"
                   [(ngModel)]="currentKiosk.PointsCassettes[0].InputCassetteCount" [disabled]="true"/>
          </div>
        </div>
      </div>
      <hr>
      <br>
      <h3 class="font-weight-bold">Monitoring</h3>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="ConfigId">State</label>
          <div class="input-group">
            <input id="State" name="State" class="form-control"
                  [(ngModel)]="currentKiosk.PointsMonitorings[0].State" [disabled]="true"/>
          </div>
        </div>
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="ConfigId">Last Active</label>
          <div class="input-group">
            <input id="TotalCashInput" name="TotalCashInput" class="form-control"
                  [(ngModel)]="currentKiosk.PointsMonitorings[0].LastActive" [disabled]="true"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="ConfigId">VersionLogic</label>
          <div class="input-group">
            <input id="VersionService" name="VersionService" class="form-control"
                  [(ngModel)]="currentKiosk.PointsMonitorings[0].VersionService" [disabled]="true"/>
          </div>
        </div>
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="ConfigId">VersionService</label>
          <div class="input-group">
            <input id="VersionService" name="VersionService" class="form-control"
                  [(ngModel)]="currentKiosk.PointsMonitorings[0].VersionService" [disabled]="true"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="ConfigId">PrinterLenta</label>
          <div class="input-group">
            <input id="PrinterLenta" name="PrinterLenta" class="form-control"
                  [(ngModel)]="currentKiosk.PointsMonitorings[0].PrinterLenta" [disabled]="true"/>
          </div>
        </div>
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="ConfigId">CashcodeStatus</label>
          <div class="input-group">
            <input id="CashcodeStatus" name="CashcodeStatus" class="form-control"
                  [(ngModel)]="currentKiosk.PointsMonitorings[0].CashcodeStatus" [disabled]="true"/>
          </div>
        </div>
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="Online">Online</label>
          <div class="input-group">
            <input id="Online" name="Online" class="form-control"
                  [(ngModel)]="currentKiosk.PointsMonitorings[0].Online" [disabled]="true"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="Metka">Metka</label>
          <div class="input-group">
            <input id="Metka" name="Metka" class="form-control"
                  [(ngModel)]="currentKiosk.PointsMonitorings[0].Metka" [disabled]="true"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="Metka">MsgCount</label>
          <div class="input-group">
            <input id="MsgCount" name="MsgCount" class="form-control"
                  [(ngModel)]="currentKiosk.PointsMonitorings[0].MsgCount" [disabled]="true"/>
          </div>
        </div>
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="Metka">PaymentDate</label>
          <div class="input-group">
            <input id="PaymentDate" name="PaymentDate" class="form-control"
                  [(ngModel)]="currentKiosk.PointsMonitorings[0].PaymentDate" [disabled]="true"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="NoteDate">NoteDate</label>
          <div class="input-group">
            <input id="NoteDate" name="NoteDate" class="form-control"
                  [(ngModel)]="currentKiosk.PointsMonitorings[0].NoteDate" [disabled]="true"/>
          </div>
        </div>
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="NoteDate">NoteFinishedDate</label>
          <div class="input-group">
            <input id="NoteFinishedDate" name="NoteFinishedDate" class="form-control"
                  [(ngModel)]="currentKiosk.PointsMonitorings[0].NoteFinishedDate" [disabled]="true"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="NoteDate">Status</label>
          <div class="input-group">
            <input id="Status" name="Status" class="form-control"
                  [(ngModel)]="currentKiosk.PointsMonitorings[0].Status" [disabled]="true"/>
          </div>
        </div>
        <div class="form-group col-sm mb-3">
          <label class="font-weight-bold" for="NoteDate">BlockReason</label>
          <div class="input-group">
            <input id="BlockReason" name="BlockReason" class="form-control"
                  [(ngModel)]="currentKiosk.PointsMonitorings[0].BlockReason" [disabled]="true"/>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')" >Fermer</button>
  </div>
</ng-template>
