<div class="card-body">
  <h4 class="card-title"><span class="lstick"></span>Filtre de transactions</h4>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="card bg-info">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center">
            <img src="assets/images/icon/list.png" alt="Income" />
          </div>
          <div class="align-self-center">
            <h6 class="text-white m-t-10 m-b-0">Nombre total de transaction</h6>
            <h2 class="m-t-0 text-white">{{ transactionsTotal }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card bg-success">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center">
            <img src="assets/images/icon/success.png" alt="Income" />
          </div>
          <div class="align-self-center">
            <h6 class="text-white m-t-10 m-b-0">Transaction Succès</h6>
            <h2 class="m-t-0 text-white">{{ transactionsSuccess }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card bg-danger">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center">
            <img src="assets/images/icon/failed.png" alt="Income" />
          </div>
          <div class="align-self-center">
            <h6 class="text-white m-t-10 m-b-0">Transaction échouées</h6>
            <h2 class="m-t-0 text-white">{{ transactionsFailed }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card bg-primary">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center">
            <img src="assets/images/icon/pending.png" alt="Income" />
          </div>
          <div class="align-self-center">
            <h6 class="text-white m-t-10 m-b-0">Transaction suspendues</h6>
            <h2 class="m-t-0 text-white">{{ transactionsHold }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <span class="lstick"></span>Transactions récentes
          </h4>
          <div class="">
            <table
              id="transactions"
              class="table table-sm vm no-th-brd pro-of-month mb-0 no-wrap"
            >
              <thead>
                <tr>
                  <th>Code client</th>
                  <th>Montant</th>
                  <th>Service</th>
                  <th>Date</th>
                  <th>Lieu</th>
                  <th>Statut</th>
                  <th>Détails</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let transaction of latestTransactions">
                  <td>{{ transaction.clientCode }}</td>
                  <td>{{ transaction.amount }}</td>
                  <td>{{ transaction.service.name }}</td>
                  <td>{{ transaction.created }}</td>
                  <td>{{ transaction.kiosk.name }}</td>
                  <td *ngIf="transaction.status == 0">
                    <span class="label label-success label-rounded"
                      >Succès</span
                    >
                  </td>
                  <td *ngIf="transaction.status == 1">
                    <span class="label label-danger label-rounded">Echec</span>
                  </td>
                  <td *ngIf="transaction.status == 2">
                    <span class="label label-danger label-rounded"
                      >Suspendu</span
                    >
                  </td>
                  <td>
                    <button
                      type="button"
                      (click)="setCurrentTransaction(transaction)"
                      (click)="open(content)"
                      class="btn-circle btn-sm btn-primary float-right text-white border-0"
                    >
                      <i class="fas fa-eye"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Détails transaction
    </h4>

    <button
      class="btn btn-outline-default"
      (click)="modal.dismiss('Cross click')"
    >
    <i class="fas fa-times"></i>
  </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="ref">Référence</label>
        <div class="input-group">
          <input id="ref" class="form-control" value="{{currentTrasaction.operationRef}}" />
        </div>
      </div>
      <div class="mb-3">
        <label for="clientAccount">Statut</label>&nbsp;&nbsp;&nbsp;
        <button
          class="btn btn-sm btn-success btn-rounded"
          *ngIf="currentTrasaction.status == 0">
          Succès
        </button>
        <button
          class="btn btn-sm btn-danger btn-rounded"
          *ngIf="currentTrasaction.status == 1">
          Echec
        </button>
        <button
          class="btn btn-sm btn-info btn-rounded"
          *ngIf="currentTrasaction.status == 2">
          Suspendu
        </button>
      </div>
      <div class="mb-3">
        <label for="clientAccount">Code client</label>
        <div class="input-group">
          <input id="clientAccount" class="form-control" value="{{currentTrasaction.clientCode}}"/>
        </div>
      </div>
      <div class="mb-3">
        <label for="clientAccount">Compte client</label>
        <div class="input-group">
          <input id="clientAccount" class="form-control" value="{{currentTrasaction.clientAccount}}"/>
        </div>
      </div>
      <div class="mb-3">
        <label for="creditAccount">Compte crédit</label>
        <div class="input-group">
          <input id="creditAccount" class="form-control" value="{{currentTrasaction.creditAccount}}"/>
        </div>
      </div>
      <div class="mb-3">
        <label for="amount">Montant</label>
        <div class="input-group">
          <input id="amount" class="form-control" value="{{currentTrasaction.amount}}"/>
        </div>
      </div>
      <div class="mb-3">
        <label for="billing">Billetage</label>
        <div class="input-group">
          <input
            id="billing" class="form-control"
            style="width: 50% !important"
            value="Note_10000: {{currentTrasaction.billing.note_10000}}"/>
          <input
            id="billing" class="form-control"
            style="width: 50% !important"
            value="Note_5000: {{currentTrasaction.billing.note_5000}}"/>
          <input
            id="billing" class="form-control"
            style="width: 50% !important"
            value="Note_2000: {{currentTrasaction.billing.note_2000}}"/>
          <input
            id="billing" class="form-control"
            style="width: 50% !important"
            value="Note_1000: {{currentTrasaction.billing.note_1000}}"/>
        </div>
      </div>
      <div class="mb-3">
        <label for="service">Service</label>
        <div class="input-group">
          <input id="service" class="form-control" value="{{currentTrasaction.serviceName}}"/>
        </div>
      </div>
      <div class="mb-3">
        <label for="kioskName">Lieu</label>
        <div class="input-group">
          <input id="kioskName" class="form-control" value="{{currentTrasaction.kioskName}}"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')" >Fermer</button>
  </div>
</ng-template>
